@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <p class="h2">Помощник в подготовке карт распила</p>
</dib>
<div class="text-left">
    <p><a asp-controller="Plates" asp-action="Index">Распил досок</a> - на основании списка досок (стоики, балки, стропила и т.п.) готовит оптимизированную карту распила</p>
    <!-- p><a asp-controller="Sheets" asp-action="Index">Распил листов</a> - на основании требуемых листов готовит оптимизированную карту распила</p -->
    <p><a asp-controller="Home" asp-action="Settings">Общие параметры</a> - общие параметры для подготовки карты распила</p>
</div>