@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Помощник в подготовке карт распила</h1>
</dib>
<div class="text-left">
    <p><a href="/Plates">Распил досок</a> - на основании списка досок (стоики, балки, стропила и т.п.) готовит оптимизированную карту распила</p>
    <p><a href="/Sheets">Распил листов</a> - на основании требуемых листов готовит оптимизированную карту распила</p>
    <p><a href="/Settings">Общие параметры</a> - общие параметры для подготовки карты распила</p>
</div>