@model FileModel
@{
    ViewData["Title"] = "Помощник в подготовке карт распила досок";
}
    
<div class="text-center">
    <p class="h2">@ViewData["Title"]</p>
</div>
<div class="text-left">
    <p>Подготовьте файл со списком стоек, балок и прочего в формате CSV следующего вида:<br/>
    <span style="padding-left: 5em;">"Width","Height","Name","Length","Qty"</span><br/>
    где:<br/>
    <ul>
        <li><strong>Width</strong> - ширина доски/бруска на ребре, например 50</li>
        <li><strong>Height</strong> - высота доски/бруска на ребре, например 150</li>
        <li><strong>Name</strong> - название элемента (стойки, балки)</li>
        <li><strong>Length</strong> - длина элемента</li>
        <li><strong>Qty</strong> - количество элементов, например 40 стоек одного размера</li>
    </ul>
    </p>
    <p>Совет: <i>Подотовьте файл в Excel, а затем сохраните его как CSV-файл в кодировке UTF-8.</i></p>
</div>    

<div class="container">
@using ( Html.BeginForm("CutList", "Plates", null, FormMethod.Post, null, new { @enctype = "multipart/form-data"}) ) {
    <div class="row">
        <div class="col-md-9">@Html.TextBoxFor(m => m.File, null, new { @class = "form-control", @type="file"})</div>
        <div class="col-md-3"><button type="submit" class="btn btn-primary">Загрузить</button></div>
    </div>
}
</div>
